
<div class='interactive-container content {{weight}}'>
	{{#if forecast}} <h4><a href='#notes'class='forecast {{forecastvalue}}'>{{forecast}}</a></h4>{{/if}}
	{{#if h2}}<h2>{{h2}}</h2>{{/if}}
	{{#if feature_copy}}<p class='featureLight'>{{feature_copy}}</p>{{/if}}
	<div class='iframe-dyptic' >
		<div class='iframe-dyptic-each' >{{{leftinnards}}}</div>
			<div class='iframe-dyptic-each' >{{{rightinnards}}}</div>
	</div>
	{{#if copy}}<p>{{{copy}}}</p>{{/if}}
	{{#if source}}<p class='source'>{{{source}}}</p>{{/if}}
	
</div>