{{#if intro.background_image}}
	<style>
		@media (min-width:980px){
			.interactive-row.header {
				background-image: url({{intro.background_image}}); 
			}
		}
	</style>
{{/if}}

<div class='interactive-row header'>

	<div class='interactive-container'>



		<!-- <div class='header-left'>
			
		</div> -->
		<div class='header-center'>
			<div class='gv-brexit-navigation'>
				{{#> navigation }}
  navigation goes here
{{/navigation}}
</div>
			<h1>{{intro.headline}}</h1>
			<p class='standfirst'>{{intro.standfirst}}</p>

			{{#each intro.links}}
				<p class='bullet'>{{{this}}}</p>
			{{/each}}

			{{#if intro.byline}}
				<p class='byline'>{{intro.byline}}</p>
			{{/if}}

			<div class="social-btns">
				<button class="interactive-share" data-network="facebook" data-share-text="{{intro.headline}}" data-share-url="{{intro.share_url}}"></button>
		        <button class="interactive-share" data-network="twitter" data-share-text="{{intro.headline}}" data-share-url="{{intro.share_url}}"></button>
		    </div>
		</div>
	</div>

</div>


{{#content}}
	<div class='interactive-row {{type}}'>
		
			{{> (lookup . 'block') }}

	</div>
{{/content}}


<!-- {{>footer}} -->