body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.interactive {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}


div {
    box-sizing: border-box;
}

.interactive-es6-headline {
	@include fs-headline(5);
}

.test-msg {
	color: #005689;
	@include fs-textSans(3);
}

.fonts {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 24px;
	li {
		margin-bottom: 6px;
	}
}

.fonts__egyptian { @include fs-headline(3); }
.fonts__text-egyptian { @include fs-bodyCopy(2); }
.fonts__sans { @include f-headlineSans; }
.fonts__text-sans { @include fs-textSans(4); }

@mixin gridOffsetLeft(){
    @media (min-width: map-get($mq-breakpoints, leftCol)) {
        margin-left: 160px;
    }

    @media (min-width: map-get($mq-breakpoints, wide)) {
        margin-left: 240px;
    }
}
