
.footer {

	margin-top: 20px;

	.interactive-container{
		border-top: 1px solid #ccc;
	}
	

	h2 {
		display: inline-block;
   		vertical-align: top;
   		margin-left: 10px;
   		@include fs-headline(2);

   		margin: 5px;



	}

	.related-header {
		width: 100%;
		float: left;
		@media (min-width: map-get($mq-breakpoints, leftCol)) {
			width: 140px;
			float: left;
		}

		@media (min-width: map-get($mq-breakpoints, wide)) {
			width: 220px;
			float: left;
		}
	}

	.related-content{

		display: block;

		@media (min-width: map-get($mq-breakpoints, tablet)) {
			width: 100%;
			float: left;
			margin-top: 10px;
		}


		@media (min-width: map-get($mq-breakpoints, leftCol)) {
			width: 940px;
			margin-top: 0;
			margin-left: 20px;			
		}

		@media (min-width: map-get($mq-breakpoints, wide)) {
			width: 960px;
		}
	}
	.related {
		margin: 5px 0;
		background: #eaeaea;
		width: 100%;
		
		float: left;

		img {
			width: 140px;

			@media (min-width: map-get($mq-breakpoints, tablet)) {
				width: 100%;
			}
		}

		@media (min-width: map-get($mq-breakpoints, tablet)) {
			margin: 0px 0 20px 0;
			width: 30%;
		}

		@media (min-width: map-get($mq-breakpoints, leftCol)) {
			width: 300px;
		}

		.related-headline {
			
			vertical-align: top;
		}
		

	}

	@media (max-width: map-get($mq-breakpoints, tablet)) {
		.related {
			display: table;
		}

		.related-headline {
			display: table-cell;
		}

		.related-image {
			display: table-cell;
			width: 140px;
		}

	}

	@media (min-width: map-get($mq-breakpoints, tablet)) {
		a:nth-child(3n -1 ) .related{
			margin: 0px 20px 20px 20px;
			display: inline-block;
		}
	}

	@media (min-width: map-get($mq-breakpoints, tablet)) {

		.related-headline {
			min-height: 60px;
		}
	}

	

}
