.interactive-container {
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }

    .header & {
    	padding-bottom: 20px;
    	@media (min-width: map-get($mq-breakpoints, leftCol)) {
    		min-height: 360px;
    	}

    }
}

.rio-logo {

	width: 100px;
	margin-bottom: 20px;

	@media (min-width: map-get($mq-breakpoints, tablet)) {
		width: 100px;
	}

	@media (min-width: map-get($mq-breakpoints, wide)) {
		width: 140px;
	}

}

.header-left {

	
	
	@media (min-width: map-get($mq-breakpoints, leftCol)) {
		width: 140px;
		float: left;
		border-top: 1px solid #333;
		margin-top: 7px;
		padding-top: 20px;
	}

	@media (min-width: map-get($mq-breakpoints, wide)) {
		width: 220px;
		float: left;
	}
	
}

.header-center {
	width: 100%;

	@media (min-width: map-get($mq-breakpoints, leftCol)) {
		width: 620px;
		float: left;
		margin-left: 20px;
	}

}

.iframe {

	&.immersive {
		margin-left: -20px;
		margin-right: 20px;
		width: calc(100% + 40px);
	}
	
	width: 100%;

	iframe {
		width: 100%;
	}

	&.inline {
		max-width: 640px;
		@include gridOffsetLeft();
	}



}