.interactive-container {
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }

    .header & {
    	padding-bottom: 20px;
    	@media (min-width: map-get($mq-breakpoints, leftCol)) {
    		min-height: 360px;
    	}

    }

    &.immersive {
		padding-left: 0;
		padding-right: 0;
	}

	
}

.header-left {

	
	
	@media (min-width: map-get($mq-breakpoints, leftCol)) {
		width: 140px;
		float: left;
		border-top: 1px solid #333;
		margin-top: 7px;
		padding-top: 20px;
	}

	@media (min-width: map-get($mq-breakpoints, wide)) {
		width: 220px;
		float: left;
	}
	
}

.header-center {
	width: 100%;

	@media (min-width: map-get($mq-breakpoints, leftCol)) {
		width: 620px;
		margin-left: 160px;
	}

	@media (min-width: map-get($mq-breakpoints, wide)) {
		width: 620px;
		margin-left: 240px;
	}

}

.iframe {

	
	
	width: 100%;

	.inline & {
		max-width: 640px;
		@include gridOffsetLeft(0px);
	}

	iframe {
		min-width: 100%; 
        width: 100px;
	}

	&.inline {
		max-width: 640px;
	}



}

.picture {
	overflow: hidden;
}

.picture img{
	max-height: 480px;

	@include mq(mobileLandscape) {
        max-width: 1300px;
        max-height: none;
    }
}