h1, h2, p {
	max-width: 640px;
	.content &{ 
		@include gridOffsetLeft(0px); 
	}
	.immersive &{ @include gridOffsetLeft(10px); }

}

h1 {
	
	@include fs-headline(6);
	
	@media (min-width: map-get($mq-breakpoints, leftCol)) {
	    font-size: 48px;
	    line-height: 48px;
	    
	}
	margin-top: 0;
}

h2 {
	margin: 0;
}


h3 {
	@include fs-header(4);
	margin: 0;
	a, a:hover, a:visited {
		color: #fff;
	}
}

p {
    @include fs-bodyCopy(2);
    white-space: pre-line;

    &.featureLight {
    	font-size: 24px;
    	line-height: 28px;
	    font-family: $f-serif-headline;
	    font-weight: 100;
	    color: #767676;
    }

}

p.byline {
	@include fs-bodyCopy(2);
	font-weight: bold;
	@media (min-width: map-get($mq-breakpoints, tablet)) {
		@include fs-bodyCopy(3);
		font-weight: bold;
	}
}

p.standfirst {
	@include fs-bodyCopy(2);
	@media (min-width: map-get($mq-breakpoints, tablet)) {
		@include fs-bodyCopy(3);
	}
		
}